<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <script src="Scripts/bootstrap.bundle.min.js"></script>
    <link href="Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="Styles/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="Styles/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="ModernizationDemo.AppNew.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
